<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>USER INFO</title>
</head>
<body>
<div>
    <th:block th:each="messages : ${messages}">
        <h1 th:text="${messages}"></h1>
    </th:block>
    <th:block th:each="user : ${user}">
        <h1 th:text="${user}"></h1>
    </th:block>
</div>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="logout"/>
</body>
</html>